body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	color: #c8c8c8;
	background-color: #222;
}

a {
	color: #00b7ff;
}

/* Feed */

.feed-item {
	border-left: #000 solid 5px;
	margin-bottom: 3px;
	padding-left: 5px;
}

.feed-item h4 {
	margin: 0;
}

.feed-content {
	font-size: 18px;
	padding: 4px;
}

.feed-meta-data {
	font-size: 12px;
}

/* Status */

.status-icon {
	display: inline-block;
	min-width: 50px;
	vertical-align: middle;
}

.status-name {
	display: inline-block;
	min-width: 120px;
	vertical-align: middle;
}

.status-status {
	display: inline-block;
	vertical-align: middle;
}

.status-context {
	display: block;
	margin-left: 70px;
}

/* Contact */

.contact-link {
	color: #c8c8c8;
	text-decoration: none;
	display: block;
	padding-bottom: 2px;
}

.contact-logo {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 3px;
}
